.ant-layout {
    height: 100%;
}
.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    margin-top: 5px;
}

.trigger:hover {
    color: var(--ant-primary-color);
}

.logo {
    height: 32px;
    margin: 16px;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.site-layout .site-layout-background {
    background: #fff;
}

.value-form .ant-card-body{
    padding: 0 !important;
}

.value-form .ant-result {
    padding: 0 !important;
}

.value-form .item-parameter {
    border: 1px solid #e8e8e8;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.value-form .item-parameter:hover {
    background: #f1f1f1;
    cursor: pointer;
}

.value-form .item-parameter .active {
    background: #f1f1f1;
}